<!--The content below is only a placeholder and can be replaced.-->
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Alidade</h1>

    <span class="example-spacer"></span>

    <mat-select class="spotter" placeholder="Type" [(value)]="currentSpotter">
      <mat-option *ngFor="let spotter of spotters" [value]="spotter">
        {{ spotter.name }}
      </mat-option>
    </mat-select>

    <span class="example-spacer"></span>

    <mat-icon class="example-icon">link</mat-icon>
    <mat-icon class="example-icon">exit_to_app</mat-icon>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink=".">Coordinates</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-tab-group>
        <mat-tab label="Targets">
          <mat-accordion multi="true">
            <mat-expansion-panel *ngFor="let target of targets">
              <mat-expansion-panel-header>
                <mat-panel-title>{{ target.name }}</mat-panel-title>
                <mat-panel-description>
                  {{ target.movable ? 'Movable' : 'Unmovable' }} target
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-form-field>
                <input matInput placeholder="Azimuth">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Distance">
              </mat-form-field>

              <mat-slide-toggle [checked]="target.movable" (change)="target.movable = $event.checked">
                {{ target.movable ? 'Movable' : 'Unmovable' }}
              </mat-slide-toggle>

              <mat-action-row>
                <button mat-icon-button>
                  <mat-icon aria-label="delete">delete</mat-icon>
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
        <mat-tab label="Artilleries">
          <mat-accordion multi="true">
            <mat-expansion-panel *ngFor="let artillery of artilleries">
              <mat-expansion-panel-header>
                <mat-panel-title>{{ artillery.name }}</mat-panel-title>
                <mat-panel-description>
                  {{ artillery.type }}
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-form-field>
                <input matInput placeholder="Azimuth">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Distance">
              </mat-form-field>

              <mat-form-field>
                <mat-select placeholder="Type" [(value)]="artillery.type">
                  <mat-option *ngFor="let artilleryType of artilleryTypes" [value]="artilleryType">
                    {{ artilleryType }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-action-row>
                <button mat-icon-button>
                  <mat-icon aria-label="delete">delete</mat-icon>
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
      </mat-tab-group>

      <button class="add-positionbles" mat-fab [matMenuTriggerFor]="positionables">
        <mat-icon aria-label="add">add</mat-icon>
      </button>

      <mat-menu #positionables="matMenu">
        <button mat-menu-item>Target</button>
        <button mat-menu-item>Arty</button>
        <button mat-menu-item>Spotter</button>
      </mat-menu>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
