<!-- Top-level menu -->
<mat-toolbar color="primary" class="toolbar application-menu">
  <!-- Application title -->
  <h1 class="app-name">Alidade</h1>

  <span class="spacer"></span>

  <!-- Application-wide actions -->
  <button mat-icon-button>
    <mat-icon>link</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>

<!-- Top-level navigation -->
<mat-toolbar color="primary" class="toolbar bottom-navigation">
  <!--<button mat-button><mat-icon>group</mat-icon></button>-->
  <a mat-button routerLink="./coordinates">
    <mat-icon>create</mat-icon>
  </a>
  <a mat-button routerLink="./field">
    <mat-icon>map</mat-icon>
  </a>
</mat-toolbar>
